body { font-family:Verdana !important; }

h1 { color:#9e005d; font-size:20px; }


#header { height:60px; background:#9e005d; }
	#logo { padding-top:14px; max-height: 50px; }
	#menuBtn { color:#FFF; background:#92005d; border:rgba(0,0,0,0.3) 1px solid; box-shadow:inset 0 1px rgba(255,255,255,0.3),0 1px rgba(255,255,255,0.3); }
.jsonResult { margin:40px 0 40px; }


table {}
	table .tr_header { color:#FFF; background:#9e005d; }
		table .tr_header td { padding:10px; }
	table .tr_content {  }


.bg-success {
  	padding:10px;
  	background-color: #dff0d8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#infoBox { display:none; }

/* Portrait and Landscape Phones */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
  	#header { height:120px; }
  	#logo { max-height:80px; }
  	#menuBtn {  }
}

/* Portrait and Landscape Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}